[[extend 'layout.html']]

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

<div class="section">
  <!--box-->
  <head>
    <!--padding for title box-->
    <p class="pt-6 pb-6">
      <div class="box">
        <!--title-->
        <p class="title is-1 has-text-centered">Event Tracker</p>
      </div>
    </p>
  </head>
  <!--buttons-->
  <body>
    <!--spacing for buttons-->
    <p class="pt-6 pb-6">
      <a href="[[=URL('Profile')]]">
        <button class="button is-large is-fullwidth" href="profile.html" target="blank">
          Login  
        </button>
      </a>
    </p>
    <p class="pt-6 pb-6">
      <button class="button is-large is-fullwidth">
        Continue without Login
      </button>
    </p>
    <p class="pt-6 pb-6">
      <button class="button is-large is-fullwidth">Sign-Up</button>
    </p>
  </body>
</div>

