[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>
<!--    <div>-->
<!--      EVENTS:-->
<!--      {{events}}-->
<!--    </div>-->

   <div class="container">

      <h1 class="title ">Your Events</h1>

       <a class="button is-primary" @click="add_new_event">
           <span class="icon"><i class = "fa fa-plus"></i></span>
           <span>Add New Event</span>
       </a>


       <!--Modal for creating events-->
       <div :class="modal_state">
           <div class="modal-background" @click="cancel_add_new_event"></div>
           <div class="modal-content">
               <!-- Any other Bulma elements you want -->
               <div class="box">
                   <div class="field">
                       <label class="label">Event Name</label>
                       <div class="control">
                           <input class="input" v-model="event_name" type="text" placeholder="Event name">
                       </div>
                   </div>

                   <div class="field">
                       <label class="label">Event Location</label>
                       <div class="control">
                           <input class="input" v-model="event_location" type="text" placeholder="Location">
                       </div>
                   </div>

                   <div class="field">
                       <label class="label">Start</label>
                       <div class="control">
                           <input class="input" v-model="event_start" type="datetime-local">
                       </div>
                   </div>

                   <div class="field">
                       <label class="label">End</label>
                       <div class="control">
                           <input class="input" v-model="event_end" type="datetime-local">
                       </div>
                   </div>

                   <div class="field">
                       <label class="label">Description</label>
                       <div class="control">
                           <textarea class="textarea" v-model="event_description" placeholder="Description"></textarea>
                       </div>
                   </div>

                   <button class="button is-primary" @click="create_event">Publish Event</button>
                   <button class="button is-danger" @click="cancel_add_new_event">Cancel</button>
               </div>
           </div>
           <button class="modal-close is-large" aria-label="close" @click="cancel_add_new_event"></button>
       </div>


       <!--Modal for editing events-->
       <div :class="edit_modal_state">
           <div class="modal-background" @click="cancel_add_new_event"></div>
           <div class="modal-content">
               <!-- Any other Bulma elements you want -->
               <div class="box">
                   <div class="field">
                       <label class="label">Event Name</label>
                       <div class="control">
                           <input class="input" v-model="edit_event_name" type="text" placeholder="Event name">
                       </div>
                   </div>

                   <div class="field">
                       <label class="label">Event Location</label>
                       <div class="control">
                           <input class="input" v-model="edit_event_location" type="text" placeholder="Location">
                       </div>
                   </div>

                   <div class="field">
                       <label class="label">Start</label>
                       <div class="control">
                           <input class="input" v-model="edit_event_start" type="datetime-local">
                       </div>
                   </div>

                   <div class="field">
                       <label class="label">End</label>
                       <div class="control">
                           <input class="input" v-model="edit_event_end" type="datetime-local">
                       </div>
                   </div>

                   <div class="field">
                       <label class="label">Description</label>
                       <div class="control">
                           <textarea class="textarea" v-model="edit_event_description" placeholder="Description"></textarea>
                       </div>
                   </div>

                   <button class="button is-primary" @click="edit_event_publish">Publish Changes</button>
                   <button class="button is-danger" @click="cancel_edit_event">Cancel</button>
                   <button class="button is-warning is-right" @click="delete_event">
                       <span class="icon"><i class = "fa fa-trash"></i></span>
                        <p>Delete Event</p>
                   </button>
               </div>
           </div>
           <button class="modal-close is-large" aria-label="close" @click="cancel_add_new_event"></button>
       </div>


       <div v-for="e in events">
           <div class="box" style="margin-top: 10px;">
               <p class="is-size-3">{{e.event_name}}
                   <button class="button is-warning is-small" @click="edit_event(e.id)">
                     <i class="fa fa-fw fa-pencil"></i>
                   </button>
               </p>
               <p><i class="fa fa-fw fa-clock-o"></i>{{e.event_start}} to {{e.event_end}}</p>
               <p><i class="fa fa-fw fa-location-arrow"></i>{{e.location}}</p>
               <p>{{e.description}}</p>
           </div>
       </div>


<!--      <table class="table is-striped is-fullwidth">-->
<!--         <tr>-->
<!--             <th>Event Name</th>-->
<!--             <th>Start Time</th>-->
<!--             <th>End Time</th>-->
<!--             <th>Location</th>-->
<!--             <th></th>-->
<!--             <th></th>-->
<!--         </tr>-->

<!--         <tr v-for="e in events">-->
<!--             <td>{{e.event_name}}</td>-->
<!--             <td>{{e.event_start}}</td>-->
<!--             <td>{{e.event_end}}</td>-->
<!--             <td>{{e.location}}</td>-->

<!--             <td>-->
<!--                 <a class="button is-warning" href="[[=edit_event_url]]">-->
<!--                     <i class="fa fa-fw fa-pencil"></i>-->
<!--                 </a>-->

<!--             </td>-->

<!--             <td>-->
<!--                 <a class="button is-danger" href="delete">-->
<!--                     <i class="fa fa-fw fa-trash"></i>-->
<!--                 </a>-->
<!--             </td>-->

<!--         </tr>-->
<!--      </table>-->

    </div>
</div>



[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let get_events_url = "[[=XML(get_events_url)]]";
    let create_event_url = "[[=XML(create_event_url)]]";
    let edit_event_url = "[[=XML(edit_event_url)]]";
    let delete_event_url = "[[=XML(delete_event_url)]]";
</script>
<script src="js/my_events.js"></script>
[[end]]