[[extend 'layout.html']]

<div class="section">
  <!--box-->
  <head>
    <!--padding for title box-->
    <p class="pt-6 pb-6">
      <div class="box">
        <!--title-->
        <p class="title is-1 has-text-centered">Profile</p>
      </div>
    </p>
  </head>

  <!--buttons-->
  <body>
    <!--spacing for buttons-->
      <p class="pt-6 pb-6">
        <a button class="button is-large is-fullwidth" href="[[=URL('auth/profile')]]">
          Edit Profile
        </a>
      </p>
      <p class="pt-6 pb-6">
        <a button class="button is-large is-fullwidth" href="[[=URL('auth/change_password')]]">
          Change Password
        </a>
      </p>
      <p class="pt-6 pb-6">
        <a button class="button is-large is-fullwidth" href="[[=URL('auth/logout')]]">
          Logout 
        </a>
      </p>  
  </body>
  <script src="js/sugar.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/utils.js"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]

</div>